@import '../../variables.scss';

.results {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  .resultsWrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }

  .deal {
    font-weight: bold;
    font-size: 1.15em;
    color: $main;
  }

  .resetButton {
    color: white;
    border: none;
    background-color: $main;
    cursor: pointer;
    padding: 0 15px;
    height: 30px;
    font-size: 0.9em;
    border-radius: 5px;

    &:hover {
      background-color: $darker;
    }

    &:active {
      background-color: $lighter;
    }

    &:focus {
      outline: none;
    }
  }
}
