@import '../../variables.scss';

.exchangeRates {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(125deg, $accent, $main);
  color: white;
  height: 50px;

  .ratesWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
  }

  p {
    margin: 0;
  }
  b {
    color: $titles;
  }
}
